@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.App-message {
  width: 400px;
  margin-bottom: 10px;
  max-height: 55%;
  overflow-y: scroll;
}

.container {
  height: 100vh;
  padding: 30px;
  position: relative;
}

.form {
  width: 400px;
  position: absolute;
  bottom: 20px;
}